In [21]:
import requests 
from bs4 import BeautifulSoup as bs
import pandas as pd

In [22]:
url1="https://en.wikipedia.org/wiki/List_of_stock_exchanges_in_the_Americas"
r1=requests.get(url1)
soup1=bs(r1.text,'html.parser')
#print(soup1.prettify())
table1 = soup1.find('table', id="exchanges_table")
#print(table1)
Americas =pd.read_html(str(table1))
Americas=pd.DataFrame(Americas[0])

Americas=Americas.reindex(columns = Americas.columns.tolist()+ ['Listings','Technology'])
Americas=Americas.iloc[:,[0,1,2,3,4,7,5,8,6]]

print(Americas.head())

          Region Country                      Exchange       Location Founded  \
0  North America  Canada  Canadian Securities Exchange        Toronto    2004
1  North America  Canada             Montreal Exchange       Montreal    1872
2  North America  Canada                 NASDAQ Canada  New York City    2000
3  North America  Canada        Toronto Stock Exchange        Toronto    1861
4  North America  Canada          TSX Venture Exchange        Calgary    2001

   Listings           Link  Technology Operating MIC
0       NaN            CSE         NaN          XCNQ
1       NaN             MX         NaN           NaN
2       NaN  Nasdaq Canada         NaN           NaN
3       NaN            TSX         NaN           NaN
4       NaN            TSX         NaN           NaN

In [23]:
url2="https://en.wikipedia.org/wiki/List_of_African_stock_exchanges"
r2=requests.get(url2)
soup2=bs(r2.text,'html.parser')
#print(soup2.prettify())
#class="wikitable sortable jquery-tablesorter"
table2 = soup2.find('table', {'class':"wikitable"})
#print(table2)
Africa =pd.read_html(str(table2))
Africa=pd.DataFrame(Africa[0])
#print(Africa.head())

Africa=Africa.reindex(columns =Africa.columns.tolist()+ ['Operating MIC'])
Africa.insert(0, "Region", "Africa")

Africa.rename(columns = {'Economy':'Country'}, inplace = True)
print(Africa.head())

   Region     Country                         Exchange  Location Founded  \
0  Africa     Algeria           Algiers Stock Exchange   Algiers    1997
1  Africa      Angola   Angola Debt and Stock Exchange    Luanda    2016
2  Africa    Botswana         Botswana Stock Exchange*  Gaborone    1989
3  Africa    Cameroon           Douala Stock Exchange*    Douala    2001
4  Africa  Cape Verde  Bolsa de Valores de Cabo Verde*     Praia    1998

  Listings    Link           Technology  Operating MIC
0        5    SGBV                  NaN            NaN
1      NaN  Bodiva  InfoTech Capizar[2]            NaN
2       44     BSE                  NaN            NaN
3        2     DSX                  NaN            NaN
4      NaN     BVC                  NaN            NaN

In [24]:
url3="https://en.wikipedia.org/wiki/List_of_European_stock_exchanges"
r3=requests.get(url3)
soup3=bs(r3.text,'html.parser')
#print(soup3.prettify())
#id="exchanges_table" class="wikitable sortable jquery-tablesorter"
table3 = soup3.find('table',id="exchanges_table" )
#print(table3)
Europe =pd.read_html(str(table3))
Europe=pd.DataFrame(Europe[0])

Europe=Europe.reindex(columns = Europe.columns.tolist()+ ['Link'])
Europe=Europe.iloc[:,[0,1,2,3,4,7,5,6]]
Europe.insert(0, "Region", "Europe")
Europe.rename(columns = {'Stock exchange':'Exchange','City':'Location','OperatingMIC':'Operating MIC'}, inplace = True)
print(Europe.head())

   Region       Country                     Exchange  \
0  Europe  Pan-European                     Euronext
1  Europe  Pan-European                Nasdaq Nordic
2  Europe       Albania        Tirana Stock Exchange
3  Europe       Armenia  Armenia Securities Exchange
4  Europe       Austria                 Wiener Börse

                                            Location      Founded  Listings  \
0  Brussels, Paris, Dublin, Amsterdam, Lisbon, Os...  1602 (2000)    1300.0
1  Copenhagen, Stockholm, Helsinki, Reykjavík, Ta...  1620 (2003)       NaN
2                                             Tirana         1996       4.0
3                                            Yerevan         2001       NaN
4                                             Vienna         1771      63.0

   Link Technology Operating MIC
0   NaN      OPTIQ           NaN
1   NaN     Genium           NaN
2   NaN        NaN          XTIR
3   NaN        NaN           AMX
4   NaN        NaN          XWBO

In [25]:
url4="https://en.wikipedia.org/wiki/List_of_stock_exchanges_in_Oceania"
r4=requests.get(url4)
soup4=bs(r4.text,'html.parser')
#print(soup3.prettify())

#class="wikitable"
table4 = soup4.find('table' ,{'class':"wikitable" })
#print(table4)
Oceania =pd.read_html(str(table4))
Oceania=pd.DataFrame(Oceania[0])

Oceania=Oceania.reindex(columns = Oceania.columns.tolist()+ ['Listings'])
Oceania=Oceania.iloc[:,[0,1,2,3,7,4,5,6]]
Oceania.insert(0, "Region", "Oceania")
Oceania.rename(columns = {'Economy':'Country'}, inplace = True)
print(Oceania)

    Region           Country  \
0  Oceania         Australia
1  Oceania         Australia
2  Oceania         Australia
3  Oceania         Australia
4  Oceania         Australia
5  Oceania              Fiji
6  Oceania       New Zealand
7  Oceania  Papua New Guinea

                                            Exchange      Location  Founded  \
0                                              APTEX        Sydney     2008
1  Sydney Stock Exchange (formerly Asia Pacific S...     Melbourne     1997
2                     Australian Securities Exchange        Sydney     1987
3                                    Chi-X Australia     Melbourne     2008
4               National Stock Exchange of Australia        Sydney     1937
5                       South Pacific Stock Exchange          Suva     1971
6                               New Zealand Exchange    Wellington     2002
7                            PNGX Markets Limited[6]  Port Moresby     1999

   Listings  Link                 Technology Operating MIC
0       NaN   NaN                        NaN           NaN
1       NaN   NaN         Nasdaq X-stream[2]          APXL
2       NaN   ASX      Nasdaq Genium INET[3]          XASX
3       NaN   CXA                        NaN          CHIA
4       NaN   NSX         Nasdaq X-stream[4]          XNEC
5       NaN   SPX                        NaN          XSPS
6       NaN   NZX        Nasdaq X-stream [5]          XNZE
7       NaN  PNGX  Nasdaq Matching Engine[7]          XPOM

In [27]:
url5="https://en.wikipedia.org/wiki/List_of_Asian_stock_exchanges"
r5=requests.get(url5)
soup5=bs(r5.text,'html.parser')
#print(soup3.prettify())

#class="wikitable sortable jquery-tablesorter"
table5 = soup5.find_all('table' ,{'class':"wikitable" })
#print(table4)
Asia =pd.read_html(str(table5))

Central_Asia=pd.DataFrame(Asia[0])
Central_Asia.insert(0, "Region", "Central_Asia")
Central_Asia.rename(columns = {'Economy':'Country'}, inplace = True)

Eastern_Asia=pd.DataFrame(Asia[1])
Eastern_Asia.insert(0, "Region", "Eastern_Asia")
Eastern_Asia=Eastern_Asia.reindex(columns =Eastern_Asia.columns.tolist()+ ['Technology','Operating MIC'])
Eastern_Asia.rename(columns = {'Economy':'Country'}, inplace = True)


Northern_Asia=pd.DataFrame(Asia[2])
Northern_Asia.insert(0, "Region", "Northern_Asia")
Northern_Asia.rename(columns = {'Economy':'Country'}, inplace = True)


Southeast_Asia=pd.DataFrame(Asia[3])
Southeast_Asia.insert(0, "Region", "Southeast_Asia")
Southeast_Asia=Southeast_Asia.reindex(columns =Southeast_Asia.columns.tolist()+ ['Technology','Operating MIC'])
Southeast_Asia.rename(columns = {'Economy':'Country'}, inplace = True)

Southern_Asia=pd.DataFrame(Asia[4])
Southern_Asia.insert(0, "Region", "Southern_Asia")
Southern_Asia=Southern_Asia.reindex(columns =Southern_Asia.columns.tolist()+ ['Operating MIC'])
Southern_Asia=Southern_Asia.iloc[:,[0,1,2,3,4,5,6,7,9]]      
Southern_Asia.rename(columns = {'Economy':'Country'}, inplace = True)

Western_Asia=pd.DataFrame(Asia[5])
Western_Asia.insert(0, "Region", "Western_Asia")
Western_Asia.rename(columns = {'Economy':'Country'}, inplace = True)


Asian=Central_Asia.append([Eastern_Asia,Northern_Asia,Southeast_Asia,Southern_Asia,Western_Asia],ignore_index=True)
print(Asian.head())

         Region       Country  \
0  Central_Asia    Kazakhstan
1  Central_Asia    Kazakhstan
2  Central_Asia    Kyrgyzstan
3  Central_Asia    Tajikistan
4  Central_Asia  Turkmenistan

                                            Exchange    Location Founded  \
0                          Kazakhstan Stock Exchange      Almaty    1993
1                      Astana International Exchange  Nur-Sultan    2018
2                        Kyrgyz Stock Exchange (KSE)     Bishkek    1994
3                       Central Asian Stock Exchange    Dushanbe    2015
4  State Commodity and Raw Material Exchange of T...    Ashgabat    1994

  Listings    Link                 Technology Operating MIC
0    127.0    KASE                        NaN           NaN
1     25.0     AIX  Nasdaq Matching Engine[3]          AIXK
2      NaN     KSE                        NaN           NaN
3      NaN    CASE                        NaN           NaN
4      NaN  SRCMET                        NaN           NaN

C:\Users\Dell\AppData\Local\Temp\ipykernel_5876\1195992782.py:42: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Asian=Central_Asia.append([Eastern_Asia,Northern_Asia,Southeast_Asia,Southern_Asia,Western_Asia],ignore_index=True)

In [28]:
result = Americas.append([Africa,Europe,Oceania,Asian],ignore_index=True)
print(result)

            Region               Country                           Exchange  \
0    North America                Canada       Canadian Securities Exchange
1    North America                Canada                  Montreal Exchange
2    North America                Canada                      NASDAQ Canada
3    North America                Canada             Toronto Stock Exchange
4    North America                Canada               TSX Venture Exchange
..             ...                   ...                                ...
270   Western_Asia                 Syria       Damascus Securities Exchange
271   Western_Asia  United Arab Emirates        Abu Dhabi Securities Market
272   Western_Asia  United Arab Emirates             Dubai Financial Market
273   Western_Asia  United Arab Emirates                       NASDAQ Dubai
274   Western_Asia  United Arab Emirates  Dubai Gold & Commodities Exchange

          Location Founded Listings           Link  \
0          Toronto    2004      NaN            CSE
1         Montreal    1872      NaN             MX
2    New York City    2000      NaN  Nasdaq Canada
3          Toronto    1861      NaN            TSX
4          Calgary    2001      NaN            TSX
..             ...     ...      ...            ...
270       Damascus    2009     24.0            DSE
271      Abu Dhabi    2000     73.0           ADSM
272          Dubai    2000    178.0            DFM
273          Dubai    2005      NaN   NASDAQ Dubai
274          Dubai    2005      NaN           DGCX

                     Technology Operating MIC
0                           NaN          XCNQ
1                           NaN           NaN
2                           NaN           NaN
3                           NaN           NaN
4                           NaN           NaN
..                          ...           ...
270                         NaN           NaN
271                         NaN           NaN
272  Nasdaq Matching Engine[24]           NaN
273                         NaN           NaN
274    Cinnober TRADExpress[25]           NaN

[275 rows x 9 columns]

C:\Users\Dell\AppData\Local\Temp\ipykernel_5876\843241486.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = Americas.append([Africa,Europe,Oceania,Asian],ignore_index=True)

In [31]:
result.to_csv("file1.csv")